
body {
  font: 13px Helvetica, Arial;
}

#messageChatDiv{
  margin-top: 10px;
  margin-bottom: 20px;

}
.messagesClass { list-style-type: none; margin: 0; padding: 0; }
.messagesClass li { padding: 5px 10px; }
.messagesClass li:nth-child(odd) { background: #eee; }
